<app-user-header></app-user-header>

<section class="bodySection">
    <div class="bodyDiv">
        <form [formGroup]="editProfileForm">
            <div class="form-group">
                <label for="firstName"><b class="textstyle">First Name</b></label>
                <input type="text" class="form-control p-2" formControlName="fname" placeholder="Enter First Name">
            </div>
            <br>
            <div class="form-group">
                <label for="lastName"><b class="textstyle">Last Name</b></label>
                <input type="text" class="form-control p-2" formControlName="lname" placeholder="Enter Last Name">
            </div>
            <br>
            <div class="d-flex flex-row">
                <div class="form-group">
                    <label for="profilePicture"><b class="textstyle">Select an Image</b> &nbsp; &nbsp;</label>
                    <input type="file" (change)="onSelectImage($event)">
                </div>
                <div class="imagePreviewSection mt-5" [class.d-none]="!showPreview"
                    [class.d-inline-block]="showPreview">
                    <img [src]="url" height="200" width="300">
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary w-100 py-2" (click)="imgUpload()"
                    [disabled]="!upoadEnable">Submit</button>
            </div>
        </form>
    </div>
</section>