    <!-- Page Wrapper -->
    <div id="wrapper">

        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column justify-content-between">
           
            <!-- Main Content -->
            <div id="content">
                

                <!-- Begin Page Content -->
                <div class=" d-flex justify-content-between bg-primary p-3">
                    <!-- Page Heading -->
                    <div>
                    <h1 class="h3 mb-4 mt-3 text-light">Hi {{this.authservice.name}}</h1>
                </div>
                <div class="dropdown">
                    <img class="btn btn-light p-3 dropdown-toggle mt-3 dropdown-item dpImg" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [src]="userImg"/>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a>
                      <a class="dropdown-item"routerLink="/login" (click)="logoutUser()">Logout</a>
                    </div>
                  </div>
                </div>
                <!-- /.container-fluid -->

                <div class="mx-5" *ngIf="!this.noMeetings"> 
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Meeting Name
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of details" >
                                <!--  -->
                                <td>{{i.mname}}</td>
                                <td>{{i.mdate | date: 'dd/MM/yyyy'}}</td>
                                <td><button class="btn btn-primary text-light p-2" (click)="joinBtn(i.mslug)">JOIN</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <p class="h2 text-muted" *ngIf="this.noMeetings">No Meetings!!!</p>
                </div>

            </div>
            <!-- End of Main Content -->

             <!-- pagination starts herre -->

        <div class="d-flex justify-content-center">
            <ul class="pagination pagination-lg" *ngFor="let i of pages">
                <button class="page-item page-link" *ngIf="i===1" (click)="Previouspage()">Previous</button>
                <li class="page-item"><a class="page-link" [ngStyle]="{'background-color': changeColor===i? 'blue' : 'white'}" (click)="pageChange(i)">{{i}}</a></li>
                <button class="page-item page-link"  *ngIf="i===pages.length" (click)="Nextpage()">Next</button>
            </ul>
        </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" routerLink="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>