    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <app-header></app-header>

                <!-- Begin Page Content -->
                <div class="container-fluid">

<div class="navbar bg-primary p-3">
    <div>
        <a routerLink="#" class="active text-white fw-bold h5">Meetings</a>
    </div>
    <div>
        <button class="btn btn-light" (click)="onAddMeeting()">Add Meeting</button>
    </div>
</div>
<hr>
<!-- card for meetings starts here -->
<div class="content_body py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let item of meetings">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ item.mname }}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Hosted by {{ item.mhost }}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Participants: {{ item.mparticipants }}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">Scheduled for {{ item.mdate }}</h6>
                        <hr>
                        <button type="button" class="btn btn-outline-primary mx-2" (click)="onEditMeeting(item)"></button>
                        <button type="button" class="btn btn-outline-danger mx-2" (click)="onDeleteMeeting(item._id)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- card for metings ends here -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"editMeetingMode>Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" routerLink="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- logout modal ends here -->

    <!-- meetings modal starts here -->
    <div class="modal fade show">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                    {{ editMeetingMode ? "Edit Meeting" : "Add Meeting"}}
                    </h5>
                    <button (click)="onCloseMeetingModal()" class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="MeetingForm" (ngSubmit)="onMeetingSubmit()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="mname">Name</label>
                            <input type="text" class="form-control" formControlName="mname">
                        </div>

                        <div class="form-group">
                            <label for="mhost">Host</label>
                            <select class="form-select form-control" formControlName="mhost" multiple>
                                <option *ngFor="let item of users">{{ item.ufname }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="mparticipants">Paricipants</label>
                            <select class="form-select form-control" formControlName="mparticipants" multiple>
                                <option *ngFor="let item of users">{{ item.ufname }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="mdate">Date</label>
                            <input type="date" class="form-control" formControlName="mdate">
                        </div>
                    </div>
                    <!-- modal body ends here -->

                    <!-- modal footer starts here -->
                    <div class="modal-footer">
                        <button (click)="onCloseMeetingModal()" class="close btn btn-secondary" type="button" data-dismiss="modal" aria-label="Close">Close 
                        </button>
                        <button type="submit" class="btn btn-primary">{{editMeetingMode?"Update":"Submit"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>