<section class="webSection">

    <section [class.d-none]="showScreen" [class.d-block]="!showScreen" style="background-color: lightblue;" class="webcamArea">
    <div class="entryNav container-fluid p-5">
      <div class="fw-bold text-dark entryNavHeading">MeEt</div>
      <div class="entryNavBtn">
        <button class="btn btn-outline-dark text-dark me-3 px-2 py-1">Login</button>
        <button class="btn btn-dark text-light px-2 py-1">Sign Up</button>
      </div>
    </div>

    <section class="entrySection">
<div class="ms-5">
  <p><i class="uil uil-arrow-left"></i> Audio and Video Check-up</p>
</div>
       <div class="selectionArea" #selectionAreax> 
      <div>
        <video id="video" #videoElement autoplay class="bg-dark entryVideo"></video>
        <div class="videoBtn"> <i *ngIf="!this.noVideoBtn" class="uil uil-video videoIcon" [ngStyle]="{'background-color':noVideoBtn ? 'red' : ''}" (click)="noVideo()"></i> <i *ngIf="this.noVideoBtn" class="uil uil-video-slash videoIcon" [ngStyle]="{'background-color':noVideoBtn ? 'red' : ''}" (click)="noVideo()"></i> &nbsp; &nbsp;<i class="uil uil-microphone videoIcon" *ngIf="!this.noAudioBtn" (click)="noAudio()" [ngStyle]="{'background-color':noAudioBtn ? 'red' : '' }"></i><i class="uil uil-microphone-slash videoIcon" *ngIf="this.noAudioBtn" (click)="noAudio()" [ngStyle]="{'background-color':noAudioBtn ? 'red' : '' }"></i></div>
      </div>

      <div id="container">
        <div class="d-flex flex-column optionsJoin">
        <div class="select">
          <i class="uil uil-video meetingIcon"></i>
          <select  class="selectOption" #videoI (change)="changeVideoInput(videoI.value)">
            <option *ngFor="let i of videoInput" value="{{i.id}}" ><b>{{i.label}}</b></option>
            </select>
        </div>
    
        <div class="select">
          <i class="uil uil-microphone meetingIcon"></i>
          <select id="audioInput" class="selectOption" #audioI (change)="changeAudioInput(audioI.value)">
            <option *ngFor="let i of audioInput" value="{{i.id}}" ><b>{{i.label}}</b></option>
          </select>
        </div>
    
        <div class="select">
          <i class="uil uil-camera meetingIcon"></i>
          <select id="audioOutput" class="selectOption" #audioO (change)="changeAudioOutput(audioO.value)">
            <option *ngFor="let i of audioOutput" value="{{i.id}}"><b>{{i.label}}</b></option>
            </select>
        </div>

        <div class="text-center">
          <audio id="audio" #audioElement src="../../assets/sample-3s.mp3" (play)="display()" (ended)="nodisplay()"></audio>
          <i class="uil uil-volume" style="color: lightblue; font-size: 20px" (click)="audioElement.play()"></i> <span style="color: lightblue; font-size: 20px; cursor: pointer;" class="fw-bold"  *ngIf="this.showAudioMessage">{{this.displayValue}}</span> <span style="color: lightblue; font-size: 20px; cursor: pointer;" class="fw-bold"  *ngIf="!this.showAudioMessage">{{this.displayValue}}</span> 
        </div>
        <br>

        <div class="">
          <button class="btn joinSubmitBtn" (click)="joinMeetingStart()">Join Meeting</button>        
        </div>
      </div>
    
        
    </div>
  </div>

    </section>

</section>
<!-- webSection -->

<!-- meeting section -->
<section class="mainSection col-12" [class.d-none]="!showScreen" [class.d-block]="showScreen">
  <div class="container-fluid totalArea col-12">
     
    <div class="screen bg-dark"  [class.col-9]="onClickChat">
      <div>
      <button  (click)="chat()" type="submit">Chat</button>
      <button  (click)="logoutUser()" type="submit">Logout</button>
        <!-- <button class="btn joinSubmitBtn" (click)="joinMeetingStart()">Back</button>         -->

    </div>
    </div>
   

<div  class="chat bg-success" [class.d-none]="!onClickChat" [class.col-3.d-block]="onClickChat">
  <section style="background-color: #eee; height: 100vh; width: 100%;">
    <div class="container">
  
      <div class="row d-flex justify-content-center">
  
          <div class="card" style="height: 100vh; width: 100%;">
            <div class="card-header d-flex justify-content-between align-items-center p-3"
              style="border-top: 4px solid #ffa900;">
              <h5 class="mb-0">Chat messages</h5>
              <div class="d-flex flex-row align-items-center">
                <i class="fas fa-times text-muted fa-xs" (click)="closeChat()"></i>
              </div>
            </div>
            <!-- card header ends -->
            <div class="card-body chatBody" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
              <div class="form-group container">
                <ul id="listOfMessages">
                  <li class="singleMessage" *ngFor="let i of messagesList">
                    <!-- {{i.date | date: 'hh:mm:ss'}} -->
                    &nbsp;  <span class="fw-bold text-primary" *ngFor="let im of i['sender']">{{im['ufname']}}</span>&nbsp; &nbsp; &nbsp; &nbsp;<small>{{i.date | date:"HH:mm"}}</small>
                    <br><span class="text-dark">&nbsp; {{i.message}} </span>
                  </li>
              </ul>
                <ul id="listOfMessages" *ngFor="let m of messageList">
                    <li class="singleMessage" >
                      <!-- {{i.date | date: 'hh:mm:ss'}} -->
                      &nbsp;  <span class="fw-bold text-primary">{{m.sender}}</span>&nbsp; &nbsp; &nbsp; &nbsp;<small>{{today | date:"HH:mm"}}</small>
                      <br><span class="text-dark">&nbsp; {{m.message}}</span>
                    </li>
                </ul>
            
               
            </div>
            <div class="messages"></div>
            <div class="card-footer text-muted  p-3">
                <form class="p-2" [formGroup]="chatForm" (ngSubmit)="sendmsgs()">
                  <div class="form-group d-flex justify-content-between" style="position: fixed; bottom: 10px;">
                    <input type="text" formControlName="message" class="form-control">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </form>
            </div>
          </div>
  
        </div>
  
    </div>
  </div>
  </section>
</div>
  </div>

</section>  
